<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>
    <section class = "creacion">
            <h1>Crearcion de producto</h1>
            <% if (locals.errors) { %>
                <div class = "errors">
                    <% for( let oneError in errors) { %>
                        <span><%= errors[oneError].msg  %> </span>
                        <br>   
                    <% } %>
                </div>
                <% } %>
            <form class = "creacion-producto" method="POST" action="/products/crear" enctype="multipart/form-data">

                <span>Marca</span>
                <p id = "errorMarca" class = "errorFront"></p>
                <select name="marcaProducto" class="marca" id = #marcaProducto>
                    <option value ="no" name  = "vacio">Seleccione la marca</option>
                    <% let opciones = ['Radon' , 'Cube' , 'Olmo' , 'Vairo' ,'Haro', 'Trek' , 'Giant' , 'Fire Bird' , 'BELL'] %>
                    <% for(let i = 0;i<opciones.length;i++ ) { %>
                        <option value = "<%= opciones[i] %>">  <%= opciones[i] %>  </option>
                    <% } %>
                
                </select>

                <span>Modelo</span>
                <p id = "errorModelo" class = "errorFront"></p>
                <input type = "text" name = "modeloProducto" class = "modelo">
                <span>Ingrese descripcion </span>
                <p id = "desc1Error" class = "errorFront"></p>
                <textarea name = "desc1" class = "desc1" placeholder="Ingrese texto aqui"></textarea>
                <span>Ingrese descripcion bajo fotos</span>
                <p id = "desc2Error" class = "errorFront"></p>
                <textarea name = "desc2" placeholder="Ingrese texto aqui" class = "desc2"></textarea>
                <span>Coloque la foto principal</span>
                <p id = "errorImagen" class = "errorFront"></p>
                <input name = "imagen" type = "file" class = "foto-principal" >
                <span>Rodados</span>
                <p id = "errorRodado" class = "errorFront"></p>
                <input type = "text" name = "rodadosProducto" placeholder="ej: 24,26,28" class = "rodados">
                <span>Colores</span>
                <p id = "errorColor" class = "errorFront"></p>
                <input type = "text" name = "coloresProducto" placeholder="ej: Amarillo,Negro,Blanco" class = "colores">
                <span>Stock</span>
                <p id = "errorStock" class = "errorFront"></p>
                <input type = "number" name = "stockProducto"  class = "stock">
                <span>Precio</span>
                <p id = "errorPrecio" class = "errorFront"></p>
                <input type = "number" name = "precioProducto" class = "precio">
                <span>Descuento</span>
                <p id = "errorDescuento" class = "errorFront"></p>
                <input type = "number" name = "descuentoProducto" class = "descuento">
                <span>Cuotas</span>
                <p id = "errorCuotas" class = "errorFront"></p>
                <input type = "number" name = "cuotasProducto" class = "cuotas">
                <div class="botones-creacion">
                <button type="submit">Crear</button>
                <button type="reset">Resetear</button>
                </div>
            </form>
    </section>
    <script src  ="/js/validacion-creacionProducto.js"></script>

        <%- include('../partials/footer') %>
</body>

</html>